/*------ Variables ------*/
html{
    --main-color:rgb(0,157,224);
    --back-color:rgb(255, 255, 255);
    --details-color:rgb(68,58,49);
    --darker:rgba(0,0,0,0.3);
    --darker-tab:rgba(0,0,0,0.45);
    --transparent:rgba(0,0,0,0);
}

/*------ Generic ------*/

@font-face {
    font-family: Roboto;
    src: url("../assets/fonts/roboto.ttf");
}

body{
    font-family:Roboto;
    margin:0;
    padding:0;
    background-color: var(--back-color);
    color:var(--details-color);
}

.container{
    display:flex;
    flex-direction: column;
}

button{
    font-family:Roboto;
    cursor:pointer;
}

.hover-darkening:hover{
    transition:0.2s;
    filter:brightness(70%);
}

.block-scroll{
    overflow:hidden;
}

h1, h2{
    color:var(--details-color);
}
