/*------ Variables ------*/
:root{
    --main-color:rgb(236,76,86);
    --back-color:rgb(36,41,51);
    --details-color:rgb(246,240,233);
    --darker:rgba(0,0,0,0.3);
    --footer-text:rgba(255,255,255,0.6);
    --transparent:rgba(0,0,0,0);
}

/*------ Generic ------*/

@font-face {
    font-family: Roboto;
    src: url("../assets/fonts/roboto.ttf");
}

body{
    font-family:Roboto;
    margin:0;
    padding:0;
    background-color: var(--back-color);
    color:var(--details-color);
}

.container{
    display:flex;
    flex-direction: column;
}

button{
    font-family:Roboto;
    cursor:pointer;
}

.hover-darkening:hover{
    transition:0.2s;
    filter:brightness(70%);
}

.block-scroll{
    overflow:hidden;
}