/*------ Almost generic ------*/
#uid-section input, #theme-name-input{
    background-color:var(--darker);
    border:none;
    height:20px;
    color:var(--details-color);
}

/*------ Main section style ------*/

#main-section{
    height:100vh;
    display:flex;
    justify-content: center;
}

/*- Grid style -*/

#grid{
    display:flex;
    justify-content: center;
    align-self:center;
    border-collapse: collapse;
    position:fixed;
}

#grid-body{
    box-shadow: 0px 0px 25px 1px #00000070;
}

.pixel{
    width:4px;
    height:4px;
    cursor:pointer;
}

/*- Toolstrip -*/

#toolstrip-container{
    position:fixed;
    display:flex;
    justify-content: space-around;
    width:350px;
    margin-bottom:50px;
    padding:10px;
    align-self:flex-end;
    align-items:center;
    background-color:var(--main-color);
    color:var(--back-color);
    box-shadow: 0px 0px 25px 1px #00000070;
    border-radius:10px;
}

#toolstrip-container button, #toolstrip-container a{
    transition:var(--transition);
    border:none;
    width:30px;
    height:30px;
    border-radius:50%;
    background-size:cover;
    background-repeat: no-repeat;
}

#snapshot-button:hover, #toolstrip-container a:hover{
    background-color:var(--darker);
}

#toolstrip-container a{
    display:flex;
    cursor:pointer;
}

#snapshot-button{
    background:none;
    background-image:url('../assets/img/snapshot-icon.png');
}

#settings-button{
    background:none;
    background-image:url('../assets/img/settings-icon.png');
}

#credits-button{
    background-color: var(--back-color);
}

#credits-button::after{
    display:inline-block;
    content:"i";
    font-size:20px;
    font-weight:bold;
    color:var(--main-color);
}

#credits-button:hover{
    background-color:var(--specific-back-color);
}


#color-input{
    width:80px;
    height:50px;
    align-self: flex-end;
    background:none;
    border:none;
    cursor:pointer;
}

#remaining-time{
    font-weight:bold;
}

/*------ Menu style ------*/

#menu-container{
    color:white;
    background:var(--back-color);
    z-index: 2;
    box-shadow: 0px 0px 5px #00000070;
}

#menu-container h1{
    color:var(--main-color);
    margin-left:15px;
    text-transform: uppercase;
}

#menu-container h2{
    margin-left:25px;
}

#menu-container .menu-content{
    margin-left:50px;
}

#menu-container footer{
    color:var(--main-color);
    text-align: center;
}

#menu-container footer a{
    color:var(--main-color);
}

#uid-section button{
    background-color:var(--main-color);
    border:none;
    height:20px;
}

#team-selection button{
    background-color:var(--main-color);
    border:none;
    height:25px;
    width:80px;
}

/*- Play History -*/

#play-history-tab{
    /* border-collapse: collapse; */
    text-align: center;
}

#play-history-tab thead tr th{
    background-color: var(--main-color);
    color:var(--back-color);
    width:250px;
    padding:5px 0;
}

#play-history-content tr{
    background-color: var(--darker-tab);
}

#play-history-content tr:nth-child(odd){
    background-color: var(--darker);
}

/*------ Infobox style ------*/

#infobox{
    position:fixed;
    display:none;
    background-color:var(--main-color);
    align-self:flex-end;
    margin:25px;
    padding:5px;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    z-index:3;
    box-shadow: 0px 0px 5px #00000070;
}

#infobox-content{
    font-weight:500;
    color:var(--back-color);
}

#infobox-content p::first-letter{
    text-transform: uppercase;
}

#infobox-confirm-container{
    margin:0;
    display:flex;
    flex-direction:row-reverse;
}

#infobox-confirm, #credits-close{
    cursor:pointer;
    font-weight:750;
    color:var(--details-color);
    background-color: var(--darker);
    border:none;
    border-radius: 50%;
    width:20px;
    height:20px;
    text-align: center;
}

#infobox-confirm::after, #credits-close::after{
    display:inline-block;
    content:"\00d7";
    font-weight:bold;
    color:var(--details-color);
}

/*--- Credits page ---*/
#credits{
    width:100vw;
    height:100vh;
    position:fixed;
    display:none;
    justify-content: center;
    align-items: center;
    z-index:3;
    background-color: var(--darker);
}

#credits-page{
    background-color: var(--back-color);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    border-radius:10px;
    box-shadow: 0px 0px 10px #000000FF;
    text-align: end;
    height:300px;
    width:800px;
}

#credits-page p{
    margin:0;
}

#credits-page h1{
    margin:0;
    color:var(--main-color);
    font-size:64px;
}

#credits-page a{
    color:var(--link);
}

#credits-close{
    align-self:flex-start;
    width:25px;
    height:25px;
}