/*------ Generic ------*/

body{
    font-family:Arial;
    margin:0;
    padding:0;
}

.container{
    display:flex;
    flex-direction: column;
}

/*------ Main section style ------*/

#main-section{
    height:100vh;
    display:flex;
    justify-content: center;
}

/*- Grid style -*/

#grid{
    display:flex;
    justify-content: center;
    align-self:center;
    border-collapse: collapse;
    position:fixed;
}

#grid-body{
    box-shadow: 0px 0px 25px 1px #00000070;
}

.pixel{
    transition:0.05s;
    width:4px;
    height:4px;
}

/*- Toolstrip -*/

#toolstrip-container{
    position:fixed;
    display:flex;
    justify-content: space-between;
    width:250px;
    align-self:flex-end;
}

#color-input{
    margin-bottom:50px;
    width:100px;
    height:50px;
    align-self: flex-end;
    box-shadow: 0px 0px 5px #00000070;
}

/*------ Menu style ------*/

#menu-container{
    color:white;
    background:#000000A0;
    z-index: 1;
}

#menu-container h1{
    margin-left:15px;
    text-transform: uppercase;
}

#menu-container h2{
    margin-left:25px;
}

#menu-container .menu-content{
    margin-left:50px;
}

#menu-container footer{
    text-align: center;
}

/*- Play History -*/

#play-history-tab{
    /* border-collapse: collapse; */
    text-align: center;
}

#play-history-tab thead tr th{
    background-color: #000000C0;
    width:250px;
    padding:5px 0;
}

#play-history-content tr{
    background-color: #00000080;
}

#play-history-content tr:nth-child(odd){
    background-color: #00000050;
}