body{
    overflow:hidden;
    font-family:Arial;
}

.container{
    width:100vw;
    height:100vh;
}

#grid{
    display:flex;
    justify-content: center;
    align-items:center;
    border-collapse: collapse;
}

.pixel{
    width:4px;
    height:4px;
}